In [10]:
import pandas as pd
import numpy as np
import os

In [11]:
os.getcwd()

'/home/quy/GitHub/airbnb-project/src/jupyter'

In [12]:
sep19 = "../../input/Sep2019.csv"
aug19 = "../../input/Aug2019.csv"
jul19 = "../../input/Jul2019.csv"
jun19 = "../../input/Jun2019.csv"
may19 = "../../input/May2019.csv"
apr19 = "../../input/Apr2019.csv"
mar19 = "../../input/Mar2019.csv"
feb19 = "../../input/Feb2019.csv"
jan19 = "../../input/Jan2019.csv"

In [13]:
sep19_pd = pd.read_csv(sep19)
aug19_pd = pd.read_csv(aug19)
jul19_pd = pd.read_csv(jul19)
jun19_pd = pd.read_csv(jun19)
may19_pd = pd.read_csv(may19)
apr19_pd = pd.read_csv(apr19)
mar19_pd = pd.read_csv(mar19)
feb19_pd = pd.read_csv(feb19)
jan19_pd = pd.read_csv(jan19)

In [14]:
sepaug19 = pd.merge(sep19_pd, aug19_pd, how='outer')
plusjul19 = pd.merge(sepaug19, jul19_pd, how='outer')
plusjun19 = pd.merge(plusjul19, jul19_pd, how='outer')
plusmay19 = pd.merge(plusjun19, jul19_pd, how='outer')
plusapr19 = pd.merge(plusmay19, jul19_pd, how='outer')
plusmar19 = pd.merge(plusapr19, jul19_pd, how='outer')
plusfeb19 = pd.merge(plusmar19, jul19_pd, how='outer')
plusjan19 = pd.merge(plusfeb19, jul19_pd, how='outer')

airbnb19_df = plusjan19.drop(plusjan19.columns[[1, 2, 3, 8, 10, 11, 12, 13, 14, 15]], axis=1)

In [15]:
airbnb19_df = airbnb19_df.set_index('id')

In [16]:
airbnb19_df.head()

     neighbourhood_group       neighbourhood  latitude  longitude  price
id
3647           Manhattan              Harlem  40.80902  -73.94190    150
3831            Brooklyn        Clinton Hill  40.68514  -73.95976     89
5022           Manhattan         East Harlem  40.79851  -73.94399     80
5099           Manhattan         Murray Hill  40.74767  -73.97500    200
5121            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596     60

In [8]:
airbnb19_df.to_csv("Airbnb2019.csv")