In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dec16 = "../../input/Dec2016.csv"
nov16 = "../../input/Nov2016.csv"
oct16 = "../../input/Oct2016.csv"
sep16 = "../../input/Sep2016.csv"
aug16 = "../../input/Aug2016.csv"
jul16 = "../../input/Jul2016.csv"
jun16 = "../../input/Jun2016.csv"
may16 = "../../input/May2016.csv"
apr16 = "../../input/Apr2016.csv"
feb16 = "../../input/Feb2016.csv"
jan16 = "../../input/Jan2016.csv"

In [3]:
dec16_pd = pd.read_csv(dec16)
nov16_pd = pd.read_csv(nov16)
oct16_pd = pd.read_csv(oct16)
sep16_pd = pd.read_csv(sep16)
aug16_pd = pd.read_csv(aug16)
jul16_pd = pd.read_csv(jul16)
jun16_pd = pd.read_csv(jun16)
may16_pd = pd.read_csv(may16)
apr16_pd = pd.read_csv(apr16)
feb16_pd = pd.read_csv(feb16)
jan16_pd = pd.read_csv(jan16)

/home/quy/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
decnov16 = pd.merge(dec16_pd, nov16_pd, how='outer')
plusoct16 = pd.merge(decnov16, oct16_pd, how='outer')
plussep16 = pd.merge(plusoct16, sep16_pd, how='outer')
plusaug16 = pd.merge(plussep16, aug16_pd, how='outer')
plusjul16 = pd.merge(plusaug16, jul16_pd, how='outer')
plusjun16 = pd.merge(plusjul16, jun16_pd, how='outer')
plusmay16 = pd.merge(plusjun16, may16_pd, how='outer')
plusapr16 = pd.merge(plusmay16, apr16_pd, how='outer')
plusfeb16 = pd.merge(plusapr16, feb16_pd, how='outer')
plusjan16 = pd.merge(plusfeb16, jan16_pd, how='outer')

airbnb16_df = plusjan16.drop(plusjan16.columns[[1, 2, 3, 8, 10, 11, 12, 13, 14, 15]], axis=1)

In [6]:
airbnb16_df = airbnb16_df.set_index('id')

In [8]:
airbnb16_df.head()

         neighbourhood_group neighbourhood   latitude  longitude  price
id
9147025                Bronx   City Island  40.844870 -73.789541    125
7949480                Bronx   City Island  40.852054 -73.788680     99
6627449                Bronx   City Island  40.849775 -73.786609    125
1886820                Bronx   City Island  40.841144 -73.783052    300
16042478               Bronx   City Island  40.853491 -73.788607    200

In [9]:
airbnb16_df.to_csv("Airbnb2016.csv")