In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dec18 = "../../input/Dec2018.csv"
nov18 = "../../input/Nov2018.csv"
oct18 = "../../input/Oct2018.csv"
sep18 = "../../input/Sep2018.csv"
aug18 = "../../input/Aug2018.csv"
jul18 = "../../input/Jul2018.csv"
jun18 = "../../input/Jun2018.csv"
may18 = "../../input/May2018.csv"
apr18 = "../../input/Apr2018.csv"
mar18 = "../../input/Mar2018.csv"
feb18 = "../../input/Feb2018.csv"
jan18 = "../../input/Jan2018.csv"

In [3]:
dec18_pd = pd.read_csv(dec18)
nov18_pd = pd.read_csv(nov18)
oct18_pd = pd.read_csv(oct18)
sep18_pd = pd.read_csv(sep18)
aug18_pd = pd.read_csv(aug18)
jul18_pd = pd.read_csv(jul18)
jun18_pd = pd.read_csv(jun18)
may18_pd = pd.read_csv(may18)
apr18_pd = pd.read_csv(apr18)
mar18_pd = pd.read_csv(mar18)
feb18_pd = pd.read_csv(feb18)
jan18_pd = pd.read_csv(jan18)

In [4]:
decnov18 = pd.merge(dec18_pd, nov18_pd, how='outer')
plusoct18 = pd.merge(decnov18, oct18_pd, how='outer')
plussep18 = pd.merge(plusoct18, sep18_pd, how='outer')
plusaug18 = pd.merge(plussep18, aug18_pd, how='outer')
plusjul18 = pd.merge(plusaug18, jul18_pd, how='outer')
plusjun18 = pd.merge(plusjul18, jun18_pd, how='outer')
plusmay18 = pd.merge(plusjun18, may18_pd, how='outer')
plusapr18 = pd.merge(plusmay18, apr18_pd, how='outer')
plusmar18 = pd.merge(plusapr18, mar18_pd, how='outer')
plusfeb18 = pd.merge(plusmar18, feb18_pd, how='outer')
plusjan18 = pd.merge(plusfeb18, jan18_pd, how='outer')

airbnb18_df = plusjan18.drop(plusjan18.columns[[1, 2, 3, 8, 10, 11, 12, 13, 14, 15]], axis=1)

In [5]:
airbnb18_df = airbnb18_df.set_index('id')

In [8]:
airbnb18_df.head()

      neighbourhood_group    neighbourhood   latitude  longitude  price
id
2515            Manhattan           Harlem  40.799205 -73.953676     59
21456           Manhattan  Upper West Side  40.797642 -73.961775    140
2539             Brooklyn       Kensington  40.647486 -73.972370    149
21644           Manhattan           Harlem  40.828028 -73.947308     89
2595            Manhattan          Midtown  40.753621 -73.983774    225

In [7]:
airbnb18_df.to_csv("Airbnb2018.csv")